// ABOUT SECTION --------------------------

.intro,
.journey,
.footer {
       background: $backgroundColor;

       &__content-block {
           display: flex;
           text-align: center;
           flex-direction: column;
           align-items: center;
           align-content: space-between;
           padding: 8% 0 8% 0;
        }         
}

.intro {
    height: 60vh;

    
}

.copy--intro {
        margin: 0;
        padding: 2% 0;
    }

















