// ABOUT SECTION --------------------------

.intro,
.journey,
.footer {
       background: $backgroundColor;

       &__content-block {
           display: flex;
           text-align: center;
           flex-direction: column;
           align-items: center;
           align-content: space-between;
           padding: 8% 0 8% 0;
        }         
}



.copy--intro {
    padding: 2% 0;

    }

















