.secondary-header {
    background-image: url(/assets/blog-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column-reverse;    
}

@media (max-width: 700px) {
    .secondary-header {
        height: 30vh;
    }
}

@media (max-width: 580px) {
    .page-heading {
        @include baseFont(60);
    }
    .secondary-header {
        height: 25vh;
    }
}

.page-heading {
    margin: 0;
    position: relative;
    bottom: -27px;
}

.content-frame {
    background: #fff;
    margin: 0% 2% 2% 2%;
    padding: 3%;
}

.page-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    .sidebar {
        width: 25%;
    }

    .sidebar__box {
        padding: 5%;
    }

    .sidebar__cta {
        text-decoration: none;
        color: $lightGreen;
        font-weight: bold;
    }
   
    .sidebar__link-list {
        padding-left: 10%;
    }

    .sidebar__link {
        text-decoration: none;
        padding-left: 2%;
    }

    .bio__image {
        padding: 2%;
    }

    .blog {
        width: 75%;
    }

    .blog__entry--hero,
    .blog__entry {
        padding-bottom: 3%;
        border-bottom: 5px solid $lightGreen;
    }

    .blog__entry {
        display: flex;
        flex-wrap: wrap;
    }

    .blog__entry--image-box {
        width: 10%;
        padding: 5% 0 5% 0;
        margin-right: 5%;
    }

    .blog__entry--copy {
        width: 80%;
    }

    .blog-subhead {
        margin-top: 10%;
        margin-bottom: 0;
    }

    .blog-subtext {
        margin-top: 2%;
    }
    
}

@media (max-width: 768px) {
    .page-container .sidebar {
        width: 100%;
    }

    .page-container .sidebar__box {
        margin: 0 auto;
    }

    .page-container .sidebar__box {
        text-align: center;
    }

    .page-container .sidebar__link-list {
        padding: 0;
    }

    .page-container .blog {
        width: 100%;
    }

}







