.editorial {
    margin-bottom: 3%;
}

.editorial__row {
    display: flex;
}

.editorial__row--row2 {
    flex-direction: row-reverse; 

}

.editorial__content,
.editorial__img-box {
    flex-basis: 50%;
}

.editorial__content {
    padding: 2% 5%;
    margin-top: 4%;
}

.editorial__content--row2 {
    text-align: right;
    // padding-top: 0;
}



.copy__editorial {
    padding: 2% 0 2% 0;
}


.editorial__image {
    position: relative;
    &--light-green {
        box-shadow: 20px 20px 0 $lightGreen, -250px 20px 0 $lightGreen;
        top: -50px; 
        margin-left: 20%;

    }
    &--dark-green {
        box-shadow: 250px 20px 0 $darkGreen, 20px 20px 0 $darkGreen; 
        bottom: -75px;  
    }    

}
   
    




