.editorial {
    background: white;
}

// EDITORIAL PANEL STYLING / ALIGNMENT ----------------------------->


.editorial__row {
    display: flex;


    .editorial__content,
    .editorial__img-box {
        width: 50%;

    }   
}

.editorial__row--row2 {
    flex-direction: row-reverse;
    margin-top: 2%;
}

.editorial__content--row1 {
    padding: 2% 5%;
    text-align: left;
}

.editorial__content--row2 {
    text-align: right;
    padding: 2% 5%;
}

.copy__editorial {
    padding: 1% 0;
}



// IMAGE POSITIONING / STYLING -------------------------------------->



.editorial__image {
    position: relative;
    &--light-green {
        box-shadow: 20px 20px 0 $lightGreen, -250px 20px 0 $lightGreen;
        top: -30px;


    }
    &--dark-green {
        box-shadow: 250px 20px 0 $darkGreen, 20px 20px 0 $darkGreen; 
        // bottom: -75px;
        // left: 75px;  
    }    

}







