
.footer {
    padding: 0 5% 3% 10%;
    
    .footer__row {
        display: flex;
        flex-wrap: wrap;
        
        .footer__content {
            display: flex;
            width: 43%;
            align-items: baseline; 
            margin-right: 6%;
        }
        
        .footer__icon {
            font-size: 35px;
            color: #000;
            background: $accentColor;
            padding: 20px;
            border-radius: 50%;
            width: 10%;
            margin-right: 30px;
        }

        .footer__copy-block {
            width: 100%;
            padding: 20px;
        }
    }    
}

.secondary-footer {
    background: $primaryColor;
    line-height: 20px;
    padding: 10px;
    &__text {
        @include copyText;
        @include baseFont(18);
        color: $logoColor;
        text-align: center;
    }
}

@media (max-width: 768px) {
    // .footer__row {
    //     flex-direction: column;
    // }
    .footer .footer__row .footer__content {
        width: 100%;
    }
    
}