
// WRAPPER STYLING FOR FORM AREA ------------------------------------>
.flex-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 25%;    
}

// FORM STYLING ------------------------------------------------------>

.form__input {
    background: #fff; 
    border: none; 
    margin: 3% 2%;
    width: 100%;
    // padding: 40px 80px;
}

.form-comment {
    border: none;
    width: 73%;
    margin-left: 26%;
}

.button-box--blog {
    width: 73%;
    background: $accentColor;
    text-align: center;
    border: none;  
    margin: 2% 0  0 26%;
}

.button-box--contact {
    width: 94%;
    background: $accentColor;
    margin: 2% 0 0 3%;
    text-align: center;
}

input, textarea {
    @include copyText;
    @include baseFont(15);
    padding: 40px 80px;
}

textarea {
    color: #888888;
}

@media (max-width: 768px) {

    .flex-form {
        margin-left: 0;
    }
    .form__input,
    .form-comment,
    .button-box--blog {
        width: 100%;
        margin-left: 0;
    }

}






