
.flex-form {
    display: flex;
    justify-content: center;
    margin-left: 25%;    
}

.form__input {
    background: #fff; 
    border: none; 
    margin: 3%;
    width: 45%;
    padding: 40px 80px;
}

.form-comment {
    border: none;
    width: 73%;
    margin-left: 26%;
}

button {
    display: block;
    margin: 2% 0 2% 25%;
    width: 75%;
}

input, textarea {
    @include copyText;
    @include baseFont(20);
    padding: 40px 80px;
}

textarea {
    color: #888888;
}




