.gallery {
    background: white;
    margin: 0;

}
.gallery__hero {
    width: 100%;
    
    .gallery__image--large {
        width: 100%;
    }    
}

.gallery__wrapper {
    display: flex;


    .gallery__image {
        width: 30%;
        margin: 5% 2%;
    }
}

@media (max-width: 768px) {
    .gallery__wrapper {
        display: block;
    }

    .gallery__wrapper .gallery__image {
        width: 100%;
        margin: 0;
    }
}