.gallery {
    background: white;
    margin: 0;

}
.gallery__hero {
    width: 100%;
    
    .gallery__image--large {
        width: 100%;
    }    
}

.gallery__wrapper {
    display: flex;

    

    .gallery__image {
        width: 30%;
        margin: 5% 2%;
    }
}