// BASE STYLE COLORS ----------------------------------------->

$primaryColor: #1f1f1f;
$logoColor: #fff;
$accentColor: #e4a436;
$backgroundColor: #f6f6f6;
$darkGreen: #345231;
$lightGreen: #709b6b;

html {
    font-size: 62.5%;
}
img {
    max-width: 100%;
}

// VISUALLY HIDDEN LABELS ------------------------------------->

.visuallyhidden:not(:focus):not(:active) {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          border: 0;
          padding: 0;
          white-space: nowrap;
          clip-path: inset(100%);
          clip: rect(0 0 0 0);
          overflow: hidden;
    }


//  TYPOGRAPHY MIXINS ------------------------------------------>

@mixin baseFont($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

@mixin logoText {   
    font-family: 'Abril Fatface', serif;
    color: $logoColor;
    text-transform: uppercase;
}

@mixin headingText {
    font-family: 'Abril Fatface', serif;  
    color: $primaryColor;
    text-transform: uppercase;
    letter-spacing: 1px;  
}

@mixin copyText {
    font-family: 'Montserrat', sans-serif;
    color: $primaryColor;

}

// TYPOGRAPHY STYLES ---------------------------------------------->


.main-header__title--large {
    @include logoText;
    @include baseFont(130);
}



.page-heading {
    @include logoText;
    @include baseFont(80);
}

.heading {
    @include headingText;
    @include baseFont(42);
    margin: 0;

}

.heading--small {
    @include headingText;
    @include baseFont(32);
    margin: 0;
}

.blog-heading {
    @include headingText;
    @include baseFont(24);
    padding: 5% 0 0 0;

}

.copy {
    @include copyText;
    @include baseFont(20);
    line-height: 2.8rem;

}

.button {
    @include headingText;
    @include baseFont(20);
    background: $accentColor;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
    border: none;
    &:hover {
        @include baseFont(25);
        transition: 0.3s ease;

    }
}





// LAYOUT STYLES ---------------------------------------------------->

.main {
    background: $backgroundColor;
    padding-bottom: 5%;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width: 90%;
}

.panel {
    padding: 40px 0;
}