// WILLOW'S JOURNEY SECTION 

.journey {
    padding: 5% 0;
}


.journey-container {
    display: flex;

    .journey-container__image-box {
        width: 35%;
    }   

    .journey-container__content-box {
        width: 65%;
        margin-left: 2%;
    }
    .copy--journey {  
        padding: 3% 0 6% 0;

    }
 
}

.journey-container__image-box--image {
     box-shadow: 20px 20px 0 $lightGreen;
 }

 @media (max-width: 1020px) {
     .journey-container .journey-container__content-box {
        margin-left: 10%;
    }
 }

 @media (max-width: 835px) {
     .journey-container {
         display: block;
         width: 100%; 
    }

    .journey-container .journey-container__content-box {
        margin: 0 auto;
    }

    .journey-container__image-box {
        text-align: center;
        margin: 2% auto;
    }

    .journey-container__image-box--image {
        display: block;
        width: 100%;
    }

    .journey-container__content-box {
        text-align: center;
        padding-top: 2%;
    }
}

@media (max-width: 768px) {
    .journey-container .journey-container__content-box {
        margin: 0;
        width: 100%;
    }
}
