.top-nav {
    background: $darkGreen;
    padding: 20px 20px 15px 20px;
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 29px;
    }
    &__list-item {
        list-style: none;
    } 
    &__link {
        @include copyText;
        @include baseFont(20);
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
        color: $logoColor;
        font-weight: 700;
        padding: 0 20px; 
        &--accent:hover {
            color: $accentColor;
            @include baseFont(23);
            transition: 0.3s ease
        }      
    }
    &__link--large {
        @extend .top-nav__link;
        @include logoText;
        @include baseFont(33);       
    }
}

.mobile-logo-box {
    display: none;
}

.menu-icon {
    display: none;
}

// MOBILE NAV BREAKPOINTS -------------------------------------------->

@media (max-width: 700px) {
    .top-nav {
        display: none;
    }     
    .menu-icon {
        display: block;
        position: absolute;
        font-size: 5rem;
        top: 20px;
        right: 20px; 
    }

    .menu-icon i {
        color: white;
    }

    .main-header__title--large::before {
        display: none;       
    }

    .main-header__title--large {
        @include baseFont(90);
        padding-top: 50px;
    }
}

@media (max-width: 480px) {
    .main-header__title--large {
        @include baseFont(60);

    }

}




