article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

img {
  max-width: 100%; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.main-header__title--large {
  font-family: 'Abril Fatface', serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 130px;
  font-size: 13rem; }

.page-heading {
  font-family: 'Abril Fatface', serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 80px;
  font-size: 8rem; }

.heading {
  font-family: 'Abril Fatface', serif;
  color: #1f1f1f;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 42px;
  font-size: 4.2rem;
  margin: 0; }

.heading--small {
  font-family: 'Abril Fatface', serif;
  color: #1f1f1f;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 32px;
  font-size: 3.2rem;
  margin: 0; }

.blog-heading {
  font-family: 'Abril Fatface', serif;
  color: #1f1f1f;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 24px;
  font-size: 2.4rem;
  padding: 5% 0 0 0; }

.copy {
  font-family: 'Montserrat', sans-serif;
  color: #1f1f1f;
  font-size: 20px;
  font-size: 2rem;
  line-height: 2.8rem; }

.button {
  font-family: 'Abril Fatface', serif;
  color: #1f1f1f;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  font-size: 2rem;
  background: #e4a436;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  border: none; }
  .button:hover {
    font-size: 25px;
    font-size: 2.5rem;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }

.main {
  background: #f6f6f6;
  padding-bottom: 5%; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%; }

.panel {
  padding: 40px 0; }

.top-nav {
  background: #345231;
  padding: 20px 20px 15px 20px; }
  .top-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 29px; }
  .top-nav__list-item {
    list-style: none; }
  .top-nav__link, .top-nav__link--large {
    font-family: 'Montserrat', sans-serif;
    color: #1f1f1f;
    font-size: 20px;
    font-size: 2rem;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    padding: 0 20px; }
    .top-nav__link--accent:hover {
      color: #e4a436;
      font-size: 23px;
      font-size: 2.3rem;
      -webkit-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }
  .top-nav__link--large {
    font-family: 'Abril Fatface', serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 33px;
    font-size: 3.3rem; }

.mobile-logo-box {
  display: none; }

.menu-icon {
  display: none; }

@media (max-width: 700px) {
  .top-nav {
    display: none; }
  .menu-icon {
    display: block;
    position: absolute;
    font-size: 5rem;
    top: 20px;
    right: 20px; }
  .menu-icon i {
    color: white; }
  .main-header__title--large::before {
    display: none; }
  .main-header__title--large {
    font-size: 90px;
    font-size: 9rem;
    padding-top: 50px; } }

@media (max-width: 480px) {
  .main-header__title--large {
    font-size: 60px;
    font-size: 6rem; } }

.main-header {
  background: #345231; }
  .main-header__content-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center; }
  .main-header__title-container {
    width: 45%;
    display: inline-block;
    margin-top: 15%; }
  .main-header__title--large {
    display: inline-block;
    position: relative; }
  .main-header .main-header__title--large::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/assets/circle-text.png) no-repeat;
    top: 0%;
    left: -8%; }
  .main-header__image-container {
    width: 45%;
    display: inline-block;
    margin-left: 2%; }
  .main-header__img {
    -webkit-box-shadow: 20px 20px 0 #fff;
    box-shadow: 20px 20px 0 #fff;
    position: relative;
    top: 30px; }

@media (max-width: 1390px) {
  .main-header__image-container {
    margin-left: 10%; } }

@media (max-width: 1175px) {
  .main-header__image-container {
    margin-left: 15%; } }

@media (max-width: 1080px) {
  .main-header__image-container {
    margin-left: 20%; }
  .main-header__title-container {
    margin-left: 10%;
    margin-top: 5%; } }

@media (max-width: 990px) {
  .main-header__content-box {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .main-header__image-container,
  .main-header__title-container {
    width: 100%;
    text-align: center;
    margin: 0; }
  .main-header__title--large {
    margin: 40px; } }

@media (max-width: 480px) {
  .main-header__image-container {
    display: none; } }

.intro,
.journey,
.footer {
  background: #f6f6f6; }
  .intro__content-block,
  .journey__content-block,
  .footer__content-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    padding: 8% 0 8% 0; }

.copy--intro {
  padding: 2% 0; }

.editorial {
  background: white; }

.editorial__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .editorial__row .editorial__content,
  .editorial__row .editorial__img-box {
    width: 50%; }

.editorial__row--row2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-top: 2%; }

.editorial__content--row1 {
  padding: 2% 5%;
  text-align: left; }

.editorial__content--row2 {
  text-align: right;
  padding: 2% 5%; }

.copy__editorial {
  padding: 1% 0; }

.editorial__image {
  position: relative; }
  .editorial__image--light-green {
    -webkit-box-shadow: 20px 20px 0 #709b6b, -250px 20px 0 #709b6b;
    box-shadow: 20px 20px 0 #709b6b, -250px 20px 0 #709b6b;
    top: -30px; }
  .editorial__image--dark-green {
    -webkit-box-shadow: 250px 20px 0 #345231, 20px 20px 0 #345231;
    box-shadow: 250px 20px 0 #345231, 20px 20px 0 #345231; }

@media (max-width: 999px) {
  .editorial__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .editorial__row .editorial__content,
  .editorial__row .editorial__img-box {
    width: 100%; }
  .editorial__content {
    padding: 5%; } }

.journey {
  padding: 5% 0; }

.journey-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .journey-container .journey-container__image-box {
    width: 35%; }
  .journey-container .journey-container__content-box {
    width: 65%;
    margin-left: 2%; }
  .journey-container .copy--journey {
    padding: 3% 0 6% 0; }

.journey-container__image-box--image {
  -webkit-box-shadow: 20px 20px 0 #709b6b;
  box-shadow: 20px 20px 0 #709b6b; }

@media (max-width: 1020px) {
  .journey-container .journey-container__content-box {
    margin-left: 10%; } }

@media (max-width: 835px) {
  .journey-container {
    display: block;
    width: 100%; }
  .journey-container .journey-container__content-box {
    margin: 0 auto; }
  .journey-container__image-box {
    text-align: center;
    margin: 2% auto; }
  .journey-container__image-box--image {
    display: block;
    width: 100%; }
  .journey-container__content-box {
    text-align: center;
    padding-top: 2%; } }

@media (max-width: 768px) {
  .journey-container .journey-container__content-box {
    margin: 0;
    width: 100%; } }

.gallery {
  background: white;
  margin: 0; }

.gallery__hero {
  width: 100%; }
  .gallery__hero .gallery__image--large {
    width: 100%; }

.gallery__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .gallery__wrapper .gallery__image {
    width: 30%;
    margin: 5% 2%; }

@media (max-width: 768px) {
  .gallery__wrapper {
    display: block; }
  .gallery__wrapper .gallery__image {
    width: 100%;
    margin: 0; } }

.footer {
  padding: 0 5% 3% 10%; }
  .footer .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footer .footer__row .footer__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 43%;
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline;
      margin-right: 6%; }
    .footer .footer__row .footer__icon {
      font-size: 35px;
      color: #000;
      background: #e4a436;
      padding: 20px;
      border-radius: 50%;
      width: 10%;
      margin-right: 30px; }
    .footer .footer__row .footer__copy-block {
      width: 100%;
      padding: 20px; }

.secondary-footer {
  background: #1f1f1f;
  line-height: 20px;
  padding: 10px; }
  .secondary-footer__text {
    font-family: 'Montserrat', sans-serif;
    color: #1f1f1f;
    font-size: 18px;
    font-size: 1.8rem;
    color: #fff;
    text-align: center; }

@media (max-width: 768px) {
  .footer .footer__row .footer__content {
    width: 100%; } }

.secondary-header {
  background-image: url(/assets/blog-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

@media (max-width: 700px) {
  .secondary-header {
    height: 30vh; } }

@media (max-width: 580px) {
  .page-heading {
    font-size: 60px;
    font-size: 6rem; }
  .secondary-header {
    height: 25vh; } }

.page-heading {
  margin: 0;
  position: relative;
  bottom: -27px; }

.content-frame {
  background: #fff;
  margin: 0% 2% 2% 2%;
  padding: 3%; }

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 5%; }
  .page-container .sidebar {
    width: 25%; }
  .page-container .sidebar__box {
    padding: 5%; }
  .page-container .sidebar__cta {
    text-decoration: none;
    color: #709b6b;
    font-weight: bold; }
  .page-container .sidebar__link-list {
    padding-left: 10%; }
  .page-container .sidebar__link {
    text-decoration: none;
    padding-left: 2%; }
  .page-container .bio__image {
    padding: 2%; }
  .page-container .blog {
    width: 75%; }
  .page-container .blog__entry--hero,
  .page-container .blog__entry {
    padding-bottom: 3%;
    border-bottom: 5px solid #709b6b; }
  .page-container .blog__entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .page-container .blog__entry--image-box {
    width: 10%;
    padding: 5% 0 5% 0;
    margin-right: 5%; }
  .page-container .blog__entry--copy {
    width: 80%; }
  .page-container .blog-subhead {
    margin-top: 10%;
    margin-bottom: 0; }
  .page-container .blog-subtext {
    margin-top: 2%; }

@media (max-width: 768px) {
  .page-container .sidebar {
    width: 100%; }
  .page-container .sidebar__box {
    margin: 0 auto; }
  .page-container .sidebar__box {
    text-align: center; }
  .page-container .sidebar__link-list {
    padding: 0; }
  .page-container .blog {
    width: 100%; } }

.flex-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 25%; }

.form__input {
  background: #fff;
  border: none;
  margin: 3% 2%;
  width: 100%; }

.form-comment {
  border: none;
  width: 73%;
  margin-left: 26%; }

.button-box--blog {
  width: 73%;
  background: #e4a436;
  text-align: center;
  border: none;
  margin: 2% 0  0 26%; }

.button-box--contact {
  width: 94%;
  background: #e4a436;
  margin: 2% 0 0 3%;
  text-align: center; }

input, textarea {
  font-family: 'Montserrat', sans-serif;
  color: #1f1f1f;
  font-size: 15px;
  font-size: 1.5rem;
  padding: 40px 80px; }

textarea {
  color: #888888; }

@media (max-width: 768px) {
  .flex-form {
    margin-left: 0; }
  .form__input,
  .form-comment,
  .button-box--blog {
    width: 100%;
    margin-left: 0; } }

.icon-list--green {
  color: #345231;
  padding: 15px 10px;
  font-size: 2rem; }

.address-block__copy, .address-block__copy--bold {
  font-family: 'Montserrat', sans-serif;
  color: #1f1f1f;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 2.3rem; }

.address-block__copy--bold {
  font-weight: bold; }

.contact-box {
  width: 30%;
  margin-top: 20px; }

.flex-form__contact {
  margin: 0 5%; }

.form-message {
  border: none;
  width: 94%;
  margin-left: 3%; }

@media (max-width: 1185px) {
  .contact-box {
    width: 100%;
    text-align: center; }
  .flex-form__contact {
    margin: 0 auto; } }
